<section>
    <div class="container">
        <li class="row flex-column-reverse flex-md-row no-gutters align-items-center">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">Gabrielle CHANEL</h3>
                        <p class="font-md mb-3 md-mb-2">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。
                            極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。
                        </p>
                        <a href="#">查看更多</a>
                    </div>
                </div> 
            </div>    
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index1.jpg">
                </a>
            </div>
        </li>     
        <li class="row flex-column-reverse flex-md-row-reverse no-gutters align-items-center">    
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">Five O’clock Au<br>Gingembre</h3>
                        <p class="font-md mb-3 md-mb-2">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。
                        </p>
                        <a href="#">查看更多</a>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index2.png">
                </a>
            </div>
        </li> 
        <li class="row flex-column-reverse flex-md-row no-gutters align-items-center">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">CHANEL N°5</h3>
                        <p class="font-md mb-3 md-mb-2">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
                        <a href="#">查看更多</a>
                    </div>
                </div> 
            </div>    
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index3.jpg">
                </a>
            </div>
        </li> 
        <li class="row flex-column-reverse flex-md-row-reverse no-gutters align-items-center">    
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">1<br>Levels of Preventive<br>Maintenance Compliance</h3>
                        <p class="font-md mb-3 md-mb-2">The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
                    </div>
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">2<br>Percentage of Planned<br>Maintenance</h3>
                        <p class="font-md mb-3 md-mb-2">The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
                    </div>
                    <div class="col-md-8 offset-md-2">
                        <h3 class="font-xxl font-weight-bold">3<br>Critical percentage of planned<br>maintenance</h3>
                        <p class="font-md mb-3 md-mb-2">Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index4.jpg">
                </a>
            </div>
        </li> 
    </div>
    <section>


    </section>
    <div style="height: 728px; background: #E0E0E0 0% 0% no-repeat padding-box;">
        <div class="container">
            <ul class="row p-0">
                <a href="#">
                    <div class="catalog col-12 col-md-4">
                        <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index5.jpg">
                    </div>
                </a>
                <a href="#">
                    <div class="catalog col-12 col-md-4">
                        <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index6.jpg">
                    </div>
                    </a>
                <a href="#">
                    <div class="catalog col-12 col-md-4">
                    <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/index7.jpg">
                </div>
                </a>                
            </ul>
        </div>
    </div>    
</section>
