<section>
    <section class="banner">
        <div class="container d-flex justify-content-lg-end align-items-center h-100">
            <div class="row ">
                <div class="col-md-5 ms-md-auto">
                    <p class="font-size-1">Perfume your day</p>
                    <p class="font-size-2">A perfume is like a piece of clothing, a message, 
                        a way of presenting oneself a costume that according to the person who wears it.
                    </p> 
                    <div>
                        <button class="col-md-4 btn-round-shop align-items-center font-size" href="#">Shop now</button>
                    </div>              
                </div>       
          
            </div>
        </div>
    </section>
</section>
<section>
    <div class="container">
        <li class="row g-0 flex-row-reverse">
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="../../assets/img/index1.jpg">      
                </a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-md-auto mx-md-auto">  
                <p class="font-xxl font-weight-bold font-size-3">Gabrielle CHANEL</p>
                <p class="mb-3 md-mb-2 font-size-4">全新嗅覺體驗，花香四溢、明亮馥郁。<br>結合茉莉、依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。
                    極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。
                </p>         
                <a  href="#">查看更多</a>            
            </div>    
        </li>     
        <li class="row g-0">    
            <div class="col-12 col-md-6">
                <a href="#">
                    <img src="../../assets/img/index2.png">
                </a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-md-auto mx-md-auto">                   
                <p class="font-xxl font-weight-bold font-size-3">Five O’clock Au<br>Gingembre</p>
                <p class="mb-3 md-mb-2 font-size-4">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。
                </p>
                <a href="#">查看更多</a>                     
            </div>
        </li> 
        <li class="row g-0 flex-row-reverse">
            <div class="col-12 col-md-6">
                <a href="#"><img src="../../assets/img/index3.jpg"></a>
            </div>
            <div class="col-12 col-md-4 align-items-center my-md-auto mx-md-auto">
                <p class="font-xxl font-size-3">CHANEL N°5</p>
                <p class="font-md mb-3 md-mb-2 font-size-4">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
                <a href="#">查看更多</a>
            </div> 
        </li> 
        <li class="row g-0">    
            <div class="col-12 col-md-6">
                <a href="#"><img src="../../assets/img/index4.jpg"></a>  
            </div>              
            <div class="col-12 col-md-4 align-items-center my-md-auto mx-md-auto">                             
                <p class="font-xxl font-size-5">1<br>Levels of Preventive<br>Maintenance Compliance</p>
                <p class="mb-5 font-size-6">The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>               
                <p class="font-xxl font-weight-bold font-size-5">2<br>Percentage of Planned<br>Maintenance</p>
                <p class="mb-5 font-size-6">The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
                <p class="font-xxl font-weight-bold font-size-5">3<br>Critical percentage of planned<br>maintenance</p>
                <p class="mb-5 font-size-6">Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
                <div>
                    <button class="col-md-4 btn-round-plan " href="#">Plan a free online training</button>
                </div>             
            </div> 
        </li> 
    </div>
</section>
    <section class="catalog">
        <div class="container">
            <div class="row">                
                <div class="col-12 col-md-4">
                    <li class="d-flex flex-column mb-md-7 hover-shadow-dark"><a href="#"><img src="../../assets/img/index5.jpg"></a>
                        <p class="font-size-5 mb-0">Poppy & Barley</p>
                        <p>Jo Malone</p>
                        <div class="d-flex">
                            <span>NT$1,380</span>
                            <del class="ms-2" style="color: #8D8D8D;">NT$1,580</del>                            
                        </div> 
                    </li> 
                </div>
                <div class="col-12 col-md-4">
                    <li class="d-flex flex-column mb-md-7 hover-shadow-dark"><a href="#"><img src="../../assets/img/index6.jpg"></a>
                        <p class="font-size-5 mb-0">Body Wash</p>
                        <p>Curology</p><span>NT$1,580</span>
                    </li>
                </div>
                <div class="col-12 col-md-4">
                    <div class="position-relative">
                        <div class="position-absolute bg-dark bg-opacity-50 w-100 h-100">
                            <p class="h4 text-light fw-bold position-absolute top-50 start-50 translate-middle-x">Sold Out</p>
                        </div>
                        <li class="d-flex flex-column mb-md-7 hover-shadow-dark"><a href="#"><img src="../../assets/img/index7.jpg"></a></li>                            
                    </div>
                        <p class="font-size-5 mb-0">Apple Cider Vinegar Capsule</p>
                        <p>Tonik</p>
                        <span>NT$1,580</span>                             
                </div>                                             
            </div>
        </div>
    </section>
<section>
    <div class="container">           
        <li class="row">   
            <div class="col-12 col-md-8">
                <a href="#"><img src="../../assets/img/index8.jpg"></a> 
            </div> 
            <div class="col-12 col-md-4 align-items-center my-md-auto ">                  
                <p class="font-size-3 mb-0">Bottle-Recycling</p>
                <p class="font-size-4">Recycle your used empty bottles and be rewarded!</p>
                <p class="mb-3 md-mb-2">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more 
                    than 860 pine trees for a better environment.
                </p>
                <a href="#">查看更多</a>                    
            </div>
        </li>                              
    </div>

</section>
<section>
    <section class="subscribe"> 
        <div class="subscribe-img position-relative">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 position-absolute top-50">
                        <h2 class="h2 subscribe_info" style="margin-bottom: 20px;">記得<br>訂閱以獲取更多資訊！</h2>
                        <div class="input-group">
                            <input type="text" class="form-control border-1 py-20 border-color" 
                                placeholder="Your email address" aria-label="Recipient's username"
                                aria-describedby="button-addon2"
                                >
                            <button class="btn btn-color py-3" type="button" id="button-addon2">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
