.logo {
    /* top: 9px; */
    width: 128px;
    height: 38px;
}
.navbar {
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.header {
    display: flex;
    justify-content: space-between;
}
/* .header .menu {
    display: flex;
} */
