<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container container-fluid">
      <h1 class="logo"><a href="#">
        <img src="https://raw.githubusercontent.com/as60160/HexSchool-2021-04-d-Perfume/main/public/img/d%E2%80%99Perfume.png"
        alt="logo">
      </a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-shop"></i>Product</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-user"></i>log in</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-heart"></i>Wishlist</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i><span>Cart(3)</span><em>3</em>></a></li>
        </ul>
      </div>
    </div>
</nav>
<div>
  <a href="#">
  <img src="assets/img/banner.jpg">
  </a>
</div>